
.header-button{
  width: 80px;
  height: 20px;
  border-radius: 5px;
  color: black;
  background-color: #FFFFFF;
}
.first{
  margin-right: 40px;
}
.header-link{
  margin-left: 500px;
  margin-right: 200px;
  text-decoration: none;
  color: black;

}
.app{
  border-bottom-color: black;
}