.album{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.list-name{
  font-size: 20px;
}
.list-text{
  font-size: 15px;
  background-color: darkorange;
}
.list-info{
  margin-left: 70px;
}
