.list-container{

  display: flex;
  justify-content: center;
  align-content: center;
  list-style-type: none;

}
.list1{
 background-color:#61dafb ;
}
.list2{
  background-color: darkorchid;
}
.list3{
  background-color: darkorange ;
}
.list4{
  background-color:#61dafb ;
}
.list5{
  background-color: darkorchid;
}
.list-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.list-title1{
  border-bottom: 1px solid darkorchid;
  padding: 0 90px;
}
.list-title2{
  border-bottom: 1px solid  darkorange;
  padding: 0 90px;
}
.list-title3{
  border-bottom: 1px solid #61dafb;
  padding: 0 90px;
}
.list-title4{
  border-bottom: 1px solid darkorchid;
  padding: 0 90px;
}
.list-title5{
  border-bottom: 1px solid  darkorange;
  padding: 0 90px;
}