.text-input{
  width: 500px;
  height: 100px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #FFFFFF;
  margin: 40px 0;
}
.title-input{
  width: 500px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #FFFFFF;
}
.form-class{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button-submit{
  width: 500px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #FFFFFF;
}